amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.0
cryptography==42.0.8
cycler==0.12.1
defusedxml==0.8.0rc2
distlib==0.3.8
Django==4.2.11
django-redis==5.4.0
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
filelock==3.13.1
fonttools==4.47.2
idna==3.7
kiwisolver==1.4.5
kombu==5.3.7
matplotlib==3.8.2
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==23.2
pandas==2.2.0
pillow==10.2.0
platformdirs==4.2.0
prompt_toolkit==3.0.47
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.1
pysam==0.22.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2024.1
redis==5.0.6
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
